<configuration>
  <configSections>
    <sectionGroup name="txnLogger">
      <section name="txnLoggerClient" type="EP.Components.TxnLogger.Config.TxnLoggerClientConfigSection, TxnLoggerClient"/>
    </sectionGroup>
  </configSections>
  <txnLogger>
    <txnLoggerClient numberOfWorkerThreads="10" maxBufferSize="1000" maxMessagesPerFile="25000" maxActiveBufferFiles="5"/>
  </txnLogger>

</configuration>